// Give toolbar a fixed height
mat-toolbar-row {
  height: 60px;
}
// Compensate for the toolbarheight
mat-sidenav-container {
  top: 60px!important;
}
// Styling for button inside sidenav
mat-sidenav>button {
  font-size: 18px;
  color: #333;
  padding: 10px 50px 10px 10px;
  border-radius: 0%;
  width: 100%;
  display:block;
  text-align: left;
}
// Enable scrollbar to always show in the sideNav conatiner in windows
/*mat-sidenav-content {
  user-select: text;
  overflow-y: scroll!important;
  -webkit-overflow-scrolling: touch;
}*/

// Minor styling for sidenav icons
.sidenav-icon {
  margin: 0 10px;
}

hr {
  color: black;
  margin: 0 !important;
}
