<!-- Navbar -->
<mat-toolbar #toolbar color="primary">
  <mat-toolbar-row>

    <!--Logo-->
    <button mat-button routerLink="/">
      <mat-icon>home</mat-icon>
      FoodMe
    </button>

    <!--Larger screen - Left-->
    <div fxShow="false" fxShow.gt-xs>
      <button mat-button routerLink="/recipes">
        Hitta Recept
      </button>
    </div>


    <!--Smaller screen - Left-->
    <div  fxHide="false" fxHide.gt-xs>
    </div>

    <!--Fill remaining space-->
    <span class="fill-remaining-space"></span>

    <!--Larger screen - Right-->
    <div *ngIf="isLoggedIn" fxShow="false" fxShow.gt-xs>
      <button mat-button routerLink="profile">Profil</button>
    </div>

    <div *ngIf="isLoggedIn && (isAdminObs | async)" fxShow="false" fxShow.gt-xs>
      <button mat-button routerLink="recipes/admin">Admin</button>
    </div>

    <button mat-button [matBadge]="(cartObs | async)?.recipeIds.length" matBadgeOverlap="true"
            matBadgePosition="after" matBadgeColor="accent" routerLink="cart" >
      <span>Kundvagn</span>
    </button>



    <div fxShow="false" fxShow.gt-xs>
      <button *ngIf="isLoggedIn" mat-button routerLink="recipes/add">Lägg till Recept</button>
    </div>

    <div *ngIf="!isLoggedIn" fxShow="false" fxShow.gt-xs>
      <button mat-button routerLink="login">Login</button>
    </div>

    <div *ngIf="isLoggedIn" fxShow="false" fxShow.gt-xs (click)="onLogoutClick()">
      <button mat-button>Logga ut</button>
    </div>

    <!--Smaller screen - Right-->
    <div fxHide="false" fxHide.gt-xs>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon >menu</mat-icon>
      </button>
    </div>

  </mat-toolbar-row>
</mat-toolbar>

<!--Close sidenav by swiping left-->
<mat-sidenav-container fullscreen (swipeleft)="sidenav.close()">

  <!--Sidenav Content-->
  <mat-sidenav #sidenav [mode]="'over'" (swipeleft)="sidenav.close()">
    <!-- Common Buttons -->
    <button mat-button (click)="sidenav.close()" routerLink="/">
      <mat-icon class="sidenav-icon">home</mat-icon>
      Hem
    </button>
    <button mat-button routerLink="/recipes">
      <mat-icon class="sidenav-icon">restaurant_menu</mat-icon>
      Börja svepa
    </button>
    <button *ngIf="isLoggedIn" mat-button routerLink="profile">
      <mat-icon class="sidenav-icon">account_circle</mat-icon>
      Profile
    </button>
    <button *ngIf="isLoggedIn" mat-button routerLink="recipes/admin">
      <mat-icon class="sidenav-icon">security</mat-icon>
      Admin
    </button>
    <button mat-button routerLink="cart" >
      <mat-icon class="sidenav-icon" [matBadge]="(cartObs | async)?.recipeIds.length"
                matBadgePosition="after" matBadgeColor="accent">shopping_cart</mat-icon>
      <span>Cart</span>
    </button>
    <button *ngIf="isLoggedIn" mat-button routerLink="recipes/add">
      <mat-icon class="sidenav-icon">create</mat-icon>
      Lägg till Recept
    </button>
    <button *ngIf="!isLoggedIn" mat-button routerLink="login">
      <mat-icon class="sidenav-icon">person</mat-icon>
      Login
    </button>
    <button *ngIf="isLoggedIn" mat-button>
      <mat-icon class="sidenav-icon">person_outline</mat-icon>
      Logout
    </button>
  </mat-sidenav>

  <mat-sidenav-content>

    <!-- Page Content -->
    <ng-content></ng-content>

  </mat-sidenav-content>
</mat-sidenav-container>

