<mat-card class="card-max-width auto-margin">
  <h1 class="mat-h1" *ngIf="!isEdit">Skapa nytt Recept</h1>
  <form #createRecipe="ngForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="full-width">
      <input #name="ngModel" matInput name="Name" placeholder="Namn" [(ngModel)]="recipe.name" required>
      <mat-error *ngIf="!recipe.name && (name.dirty || name.touched)">Namn är obligatoriskt</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
    <textarea #description matInput name="Description" placeholder="Kort Beskrivning"
              [(ngModel)]="recipe.description" maxlength="200" [rows]="2"></textarea>
      <mat-hint align="end">{{description.value.length}} / 200</mat-hint>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-chip-list #chipList>
        <mat-chip color="primary" *ngFor="let ingredient of recipe.ingredients" [selectable]="false" [selected]="true"
                  [removable]="true" (removed)="removeIngredient(ingredient)">
          {{ingredient}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input placeholder="Skriv in ingredienser..."
               [matChipInputFor]="chipList"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               [matChipInputAddOnBlur]="true"
               (matChipInputTokenEnd)="addIngredient($event)"/>
      </mat-chip-list>
    </mat-form-field>
    <mat-form-field class="full-width">
      <textarea #instructions matInput name="Instructios" placeholder="Instruktioner"
                [(ngModel)]="recipe.instructions" [rows]="8"></textarea>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-select [compareWith]="compareCuisines" name="Quisnes" placeholder="Kategorier" [(ngModel)]="selectedCuisines" multiple>
        <mat-select-trigger>
          <div class="chip" *ngFor="let cuisine of selectedCuisines">{{cuisine.name}}</div>
        </mat-select-trigger>
        <mat-option *ngFor="let cuisine of (cuisinesObs | async)" [value]="cuisine">{{cuisine.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="full-width">
      <img *ngIf="recipe.imgUrl" [src]="recipe.imgUrl" class="recipe-img">
    </div>
    <div class="full-width">
      <app-drop-zone [isImage]="true" [isMultiple]="false" (fileListEvent)="fileSelected($event)"></app-drop-zone>
    </div>
    <button
      class="full-width"
      mat-raised-button
      color="primary"
      [disabled]="!createRecipe.form.valid"
    >
      <mat-icon>restaurant</mat-icon>
      <span *ngIf="!isEdit">Skapa Recept!</span>
      <span *ngIf="isEdit">Uppdatera Recept!</span>

    </button>
  </form>
</mat-card>
