.card-max-width{
  max-width: 600px;
}
.auto-margin{
  margin: auto;
}
.recipe-img{
  display: block;
  object-fit: cover;
  margin: 8px auto;
  max-width: 100%;
  max-height:300px ;
}

.chip {
  display: inline-block;
  padding: 0 16px;
  height: 32px;
  //font-size: 16px;
  line-height: 32px;
  border-radius: 25px;
  background-color: #f1f1f1;
  margin-right: 3px;
}

.center-wrapper{
  display: flex; justify-content: center;
}
.add-image-button{
  margin-bottom: 10px;
}
