<mat-card class="recipe-card-max-width auto-margin">
  <mat-card-header>
    <h3 class="mat-h3">{{currentRecipe?.name}}</h3>
  </mat-card-header>
  <img class="recipe-card-img" mat-card-image *ngIf="currentRecipe?.imgUrl" [src]="currentRecipe.imgUrl">
  <mat-card-content>
    <div class="mat-body">{{currentRecipe?.description}}</div>
  </mat-card-content>
  <mat-card-actions>
    <div class="wrapper">
      <button (click)="nextRecipe()" mat-fab color="warn" class="card-action-button">
        <mat-icon aria-label="Example icon-button with a heart icon">close</mat-icon>
      </button>
      <button (click)="onAddClick()" mat-fab color="primary" class="card-action-button">
        <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
      </button>
    </div>

  </mat-card-actions>
</mat-card>

<pre>{{currentRecipe | json}}</pre>

<!--<pre>{{cartObs | async | json}}</pre>-->

<button (click)="deleteRecipe(item)" mat-button *ngFor="let item of (cartObs | async)?.recipeIds">{{item}}</button>

