<mat-card class="recipe-card-max-width auto-margin"
          [@cardAnimator]="animationState"
          (@cardAnimator.done)="resetAnimationState()"
          (swipeleft)="startAnimation('slideOutLeft')"
          (swiperight)="startAnimation('zoomOutRight')"
          (swipeup)="startAnimation('rotateOutUpRight')"
          (swipedown)="startAnimation('flipOutY')">

    <mat-card-title class="mat-h3 pointer" matTooltip="Tryck för mer information" matTooltipPosition="after" (click)="moreInfo()">{{currentRecipe?.name}}</mat-card-title>

  <div class="chip-margin">
  <mat-chip-list>
    <mat-chip color="primary" selected="true" *ngFor="let q of currentRecipe?.quisines">{{q?.name}}</mat-chip>
  </mat-chip-list>
  </div>
  <div class="image-min-height">
    <img matTooltip="Tryck för mer information" matTooltipPosition="after"
         class="recipe-card-img pointer" mat-card-image *ngIf="currentRecipe?.imgUrl"
         [src]="currentRecipe.imgUrl" (click)="moreInfo()">
  </div>
  <mat-card-content>
    <div class="mat-body">{{currentRecipe?.description}}</div>
  </mat-card-content>
  <mat-card-actions>
    <div class="wrapper">
      <button  (click)="nextRecipe()" mat-fab color="warn" class="card-action-button">
        <mat-icon aria-label="Example icon-button with a heart icon">close</mat-icon>
      </button>
      <button (click)="onAddClick()" mat-fab color="primary" class="card-action-button">
        <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
      </button>
    </div>

  </mat-card-actions>
</mat-card>
