<mat-card class="recipe-card-max-width auto-margin">
  <mat-card-header>
    <mat-card-title>{{recipe?.name}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <img *ngIf="recipe?.imgUrl" [src]="recipe.imgUrl" class="recipe-card-img">
    <div class="mat-body">{{recipe?.description}}</div>
  </mat-card-content>
  <mat-card-actions>
    <div class="wrapper">
      <button mat-fab color="warn" class="card-action-button">
        <mat-icon aria-label="Example icon-button with a heart icon">close</mat-icon>
      </button>
      <button mat-fab color="primary" class="card-action-button">
        <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
      </button>
    </div>

  </mat-card-actions>
</mat-card>

<pre>{{recipe | json}}</pre>
