


<div class="container color-dark">
  <div class="col">
    <h1>Choose quisines</h1>
  </div>
</div>
<div class="container color-light">
  <div class="col">
    <p class="sm">Use this form below to add a new bucket list goal. What do you want to accomplish in your life?</p>

    <form>
      <input type="text" class="txt" name="item" placeholder="Life goal.." >
      <input type="submit" class="btn" [value]=btnText >
    </form>

  </div>

  <ul>
    <li *ngFor="let quisine of quisines">{{quisine}}</li>
  </ul>
  <div class="col">

    <mat-chip-list class="mat-chip-list-stacked" >
      <mat-chip (remove)="onclick($event)" [color]="warn" *ngFor="let chip of quisines; let i = index" selected="{{chip.checked}}" multiple="true" (click)="getSelected(i)" >
        {{chip.name}}
      </mat-chip>
    </mat-chip-list>
</div>


  <p>Du har valt följande mat:</p>
  <ul>
    <li *ngFor="let q of selectedQuisines; let i = index">{{q.name}}</li>
  </ul>

</div>
<div class="container color-light">
  <button mat-raised-button color="warn">Börja Svepa</button>
</div>


