<mat-card class="recipe-cart-card">
  <div fxLayout="row" fxLayout.xs="row wrap" fxLayoutAlign="space-between stretch" fxLayoutGap="1%">
    <img fxFlex="30" fxFlex.xs="100" class="recipe-thumbnail" [src]="recipe?.imgUrl" (click)="viewDetails()">
    <div style="width: 100%">
      <h2  class="mat-h2 pointer" (click)="viewDetails()">{{recipe?.name}}</h2>
    </div>
    <button mat-fab (click)="onRemoveClick(recipe)" color="warn">
      <mat-icon aria-label="Delete recipe from cart">delete</mat-icon>
    </button>
  </div>



</mat-card>
