<mat-card class="recipe-cart-card">
  <mat-grid-list cols="6" rowHeight="100px">
    <mat-grid-tile [colspan]="1">
      <img class="recipe-thumbnail" [src]="recipe?.imgUrl">
    </mat-grid-tile>
    <mat-grid-tile [colspan]="4">
      <h2 class="text-inside-grid mat-h2">{{recipe?.name}}</h2>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1">
      <button mat-fab (click)="onRemoveClick(recipe)">
        <mat-icon aria-label="Delete recipe from cart">delete</mat-icon>
      </button>
    </mat-grid-tile>


  </mat-grid-list>


</mat-card>
