
<div fxLayout="column" fxLayoutAlign="center center">
  <h1 class="mat-h1">Välkommen till FoodMe</h1>
  <h2 class="mat-h2">Välj vilken typ av mat du vill ha</h2>
</div>
<div fxLayout="row wrap" fxLayoutGap="2%" style="padding-left: 2%">
  <div fxFlex="18" fxFlex.xs="31" *ngFor="let q of cuisines; let i = index">
    <button mat-raised-button
            style="margin-bottom: 5px; width: 100%"
             [color]="clickColor(q) ? 'primary' : 'accent'"
            (click)="clickCuisine(q)">{{q?.name}}
    </button>
  </div>
</div>
<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="2%" fxLayoutAlign="center">
  <button mat-raised-button color="warn" (click)="nextRoute()">Börja Svepa</button>
</div>
