.recipe-detail-image{
  display: block;
  object-fit: contain;
  width: 100%;
}

//.expansions{
// position: absolute;
//  width: 90%;
//  top: 30px;
//  left: 5px;
//}
//
//.card-action-button{
//  margin: 0 5px
//}
