<mat-card class="cart-details-card">
  <mat-tab-group #tab>
    <mat-tab label="Valda Recept">
      <div *ngFor="let recipe of recipes">
        <app-recipe-cart-card [recipe]="recipe"></app-recipe-cart-card>
      </div>
      <div *ngIf="recipes.length>0" fxLayout="row" fxLayoutAlign="center center" >
        <button mat-raised-button class="cart-button" color="primary" (click)="toIngredients()">
          <mat-icon>forward</mat-icon>Gå vidare till beställning
        </button>
      </div>
    </mat-tab>
    <mat-tab label="Samtliga ingredienser">
      <app-ingredient-cart-card [recipes]="recipes"></app-ingredient-cart-card>
      <div *ngIf="recipes.length>0" fxLayout="row" fxLayoutAlign="center center" >
        <button mat-raised-button class="cart-button" color="primary" (click)="onPurchaseClick()">
          <mat-icon>shopping_cart</mat-icon>
          Gör beställing</button>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-card>

